---
interface Props {
    dateTo: string,
    dateFrom: string,
    role: string,
    roleDescription:string
    company: string
}

const { dateFrom, dateTo, role, roleDescription, company } = Astro.props
---
<div class="py-4 text-pretty">
    <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
    <time class="mb-1 font-normal leading-none text-gray-400 dark:text-gray-500"> { dateFrom } - { dateTo } </time>
    <h3 class="text-xl font-semibold text-gray-900 dark:text-white mt-2">
        { role }
    </h3>
    <p class="mb-4 text-base font-normal text-gray-500">
        { roleDescription }
    </p>
    <p class="mb-4 font-medium text-white/90">
        { company }
    </p>
</div>
