---
import SectionContainer from "./SectionContainer.astro"
import Experience from "./Experience.astro"
import Projects from "./Projects.astro"
import Intro from "./Intro.astro"
---

<main class='px-4'>
	<SectionContainer id="#">
		<Intro />
	</SectionContainer>
	<SectionContainer id="projects">
		<Projects />
	</SectionContainer>
	<SectionContainer id="experience">
		<Experience />
	</SectionContainer>
	<SectionContainer id="contact">
	</SectionContainer>
</main>	

<style>
</style>
