---
import NavBarButton from "./NavBarButton.astro";
---

<!-- App navbar component -->
<nav class="flex flex-col gap-6 sm:flex-row justify-center items-center h-auto sm:h-20 w-full px-8 py-4 sticky z-10 top-0 backdrop-blur-sm">
    <NavBarButton href="#">Home</NavBarButton>
    <NavBarButton href="#projects">Projects</NavBarButton>
    <NavBarButton href="#experience">Experience</NavBarButton>
    <NavBarButton href="#contact">About me</NavBarButton>
</nav>